.mainNavigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #FFC52C;
	height: 70px;
	padding: 0 25px;
	font-size: 20px;
	color: #fff;
}

.navLink {
	color: #fff;
}