.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.login {
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	align-items: center;

	height: 100vh;
	background: linear-gradient(to bottom, #fbda61 0%,#ffc52c 100%);
}

.login-logo {
	width: 50%;
}

.login-form {
	display: flex;
	flex-flow: column;
}

.login-form input {
	margin: 5px 0;
	border: none;
	height: 40px;
	padding: 5px 10px;
	color: #5C5C5C;
	background: #F5DF98;
	font-size: 14px;
}

input.login-button {
	background: #7ED321;
	color: #fff;
}

::-webkit-input-placeholder {
   color: #cacaca;
}

:-moz-placeholder { /* Firefox 18- */
   color: #cacaca;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #cacaca;  
}

:-ms-input-placeholder {  
   color: #cacaca;  
}

.user-block {
	height: calc(50vh - 70px);
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to top, #fbda61 0%,#ffc52c 100%);
}

.photograph-block {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	min-height: 50vh;
	color: #ADACAC;
}

.photograph-block .fa {
	font-size: 100px;
}

.user-button-group {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.user-avatar {
	width: 111px;
	height: 111px;
	border-radius: 50%;
}